body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
}

h3 {
  text-align: center;
  background-color: rgb(255, 243, 236);
  padding: 2%;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgb(185, 185, 185);
}

span {
  font-size: 40px;
}

p {
  text-align: center;
  font-size: 15px;
}

button {
  width: 150px;
  border-radius: 60px;
  border: 2px solid rgb(245, 210, 206);
  background-color: rgb(255, 228, 223);
  transition: all 0.3s;
}

button:hover {
  transform: translateY(-10px);
  background-color: rgb(255, 255, 255);
  font-weight: 800;
}

button a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.videosbottom {
  border-radius: 30px;
}

.icon-container {
  text-align: center;
}

.icon-container i {
  font-size: 32px;
  padding: 1%;
}
.container {
  background-color: aliceblue;
  padding: 1%;
  border-radius: 20px;
  box-shadow: 3px 3px 20px rgb(250, 204, 204), -1em 0 0.4em rgb(247, 222, 255);
}

.benefit-container {
  font-weight: 600;
  padding: 1px 60px;
  font-size: 20px;
  width: 600px;
}

.customize-benefits {
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 5px rgb(220, 220, 220);
  border: 1px solid rgb(255, 227, 193);
  background-color: rgb(255, 251, 246);
  border-radius: 60px;
  text-align: center;
}

.img-customize {
  transition: all 200ms ease-in-out;
  border-radius: 40px;
  box-shadow: 1px 1px 2px rgb(166, 166, 166);
}

.img-customize:hover {
  transition: all 200ms ease-in-out;
  filter: brightness(100%);
}

.info-customize {
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgb(220, 220, 220);
  border: 1px solid rgb(255, 227, 193);
  background-color: rgb(255, 251, 246);
  border-radius: 20px;
  padding: 2%;
}

.buttons-redirect {
}

.buttons-links {
  text-align: center;
}

footer {
  font-size: 10px;
  text-align: center;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: rgb(255, 11, 255);
}

/*About*/

.container-about {
  text-align: center;
}

.container-about h4 {
  background-color: pink;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
}

.container-about p {
  background-color: bisque;
  border-radius: 10px;
  padding: 1%;
  text-align: center;
  margin: 0 auto;
  width: 700px;
}

.about-images {
  border-radius: 20px;
  box-shadow: 1px 1px 10px black;
}

/*Contact*/

.contact-area {
  border-radius: 1px;
  padding: 5%;
}

.text-contact {
  text-align: center;
  background-color: beige;
  padding: 1%;
  box-shadow: 1px 1px 5px rgb(176, 176, 176);
  border-radius: 50px;
}

.text-contact h3 {
  background-color: rgb(255, 241, 252);
  box-shadow: 1px 1px 5px rgb(176, 176, 176);
}

.video-contact {
  border-radius: 30px;
}

@media (max-width: )